---
layout: default
description: course cards
---

{{ content }}

<div class="container">
    {% for course in site.data.courses %}
    <div class="row">
        <div class="card" style="width: 18rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <h5 class="card-title">{{ course.title }}</h5>
                <div class="justify-content-start btn-group">
                    {% for e in course.courses %}
                    <a href="#" class="btn btn-outline-primary">{{ e }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>